In [50]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_selection import VarianceThreshold
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import classification_report

from imblearn.over_sampling import ADASYN

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [51]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
# train=train.drop(['date'], axis=1)
# test=test.drop(['date'], axis=1)

In [52]:
test

,row_id,date,country,store,product
0,70128,2021-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques
1,70129,2021-01-01,Belgium,KaggleMart,Kaggle Getting Started
2,70130,2021-01-01,Belgium,KaggleMart,Kaggle Recipe Book
3,70131,2021-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose
4,70132,2021-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques
...,...,...,...,...,...
17515,87643,2021-12-31,Spain,KaggleMart,Kaggle for Kids: One Smart Goose
17516,87644,2021-12-31,Spain,KaggleRama,Kaggle Advanced Techniques
17517,87645,2021-12-31,Spain,KaggleRama,Kaggle Getting Started
17518,87646,2021-12-31,Spain,KaggleRama,Kaggle Recipe Book
17519,87647,2021-12-31,Spain,KaggleRama,Kaggle for Kids: One Smart Goose

In [53]:
train

,row_id,date,country,store,product,num_sold
0,0,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,663
1,1,2017-01-01,Belgium,KaggleMart,Kaggle Getting Started,615
2,2,2017-01-01,Belgium,KaggleMart,Kaggle Recipe Book,480
3,3,2017-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,710
4,4,2017-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques,240
...,...,...,...,...,...,...
70123,70123,2020-12-31,Spain,KaggleMart,Kaggle for Kids: One Smart Goose,614
70124,70124,2020-12-31,Spain,KaggleRama,Kaggle Advanced Techniques,215
70125,70125,2020-12-31,Spain,KaggleRama,Kaggle Getting Started,158
70126,70126,2020-12-31,Spain,KaggleRama,Kaggle Recipe Book,135
70127,70127,2020-12-31,Spain,KaggleRama,Kaggle for Kids: One Smart Goose,202

In [57]:
print(len(train['date'].unique()), len(test['date'].unique()))
# print(train['date'].unique(), test['date'].unique())

1461 365

In [11]:
cat_feat=['country', 'store', 'product']

In [12]:
for col in cat_feat:
    print(col, train[col].unique())
    
for col in cat_feat:
    print(col, test[col].unique())

country ['Belgium' 'France' 'Germany' 'Italy' 'Poland' 'Spain']
store ['KaggleMart' 'KaggleRama']
product ['Kaggle Advanced Techniques' 'Kaggle Getting Started'
 'Kaggle Recipe Book' 'Kaggle for Kids: One Smart Goose']
country ['Belgium' 'France' 'Germany' 'Italy' 'Poland' 'Spain']
store ['KaggleMart' 'KaggleRama']
product ['Kaggle Advanced Techniques' 'Kaggle Getting Started'
 'Kaggle Recipe Book' 'Kaggle for Kids: One Smart Goose']

In [23]:
label_encoder = preprocessing.LabelEncoder()
for col in cat_feat:
    train[col]=label_encoder.fit_transform(train[col])
    
for col in cat_feat:
    test[col]=label_encoder.fit_transform(test[col])

In [30]:
X_train=train.drop(['num_sold'], axis=1)
y_train=train['num_sold']
X_test=test

In [49]:
# logreg=LogisticRegression()
# logreg.fit(X_train, y_train)
# y_pred=logreg.predict(X_test)
res=[y_pred[i] for i in range(len(y_pred))]
ind=[i for i in range(70128, 87648)]
# print(res, ind)
y_f=pd.DataFrame(res, ind, columns=['num_sold'])
y_f.to_csv('Subm1.csv')

In [41]:
np.unique(y_pred)

array([108], dtype=int64)